<div id="hero" fxLayout="column" fxLayoutAlign="space-evenly center">
  <div class="intro"
    fxLayout.xs="column"
    fxLayoutAlign.xs="space-evenly center"
    fxLayout.sm="column"
    fxLayoutAlign.sm="space-evenly center"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-evenly center"
  >
    <div class="name" fxLayout="column" fxLayoutAlign="space-between center"> 
      <h1>Rainych</h1>
      <h2>Singing ♪ Mixing</h2>
    </div>
    <img src="../../assets/rainych.png" />
  </div> 
  <div id="socials"
    fxLayout.xs="row"
    fxLayoutAlign.xs="center"
    fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between"
  >
    <a mat-button href="https://www.facebook.com/RainychR" target="_blank">Facebook</a>
    <a mat-button href="https://www.instagram.com/rainych_ran" target="_blank">Instagram</a>
    <a mat-button href="https://twitter.com/RainychRan" target="_blank">Twitter</a>
    <a mat-button href="https://soundcloud.com/rainych" target="_blank">Soundcloud</a>
    <a mat-button href="https://www.patreon.com/rainych" target="_blank">Patreon</a>
    <a mat-button href="https://ko-fi.com/rainych" target="_blank">Kofi</a>
  </div>
</div>