<app-hero></app-hero>
<app-rain></app-rain>

<app-loader></app-loader>
<ng-container *ngIf="!isLoading; else loader">
  <app-featured-video [featuredVideo]="featuredVideo" [isLoading]="isLoading"></app-featured-video>
</ng-container>
<div class="videos" 
  fxLayout.xs="column"
  fxLayoutAlign.xs="space-evenly center"
  fxLayout.gt-xs="column row"
  fxLayoutAlign.gt-xs="space-evenly center"
  fxLayout.gt-md="row wrap"
  fxLayoutAlign.gt-md="space-evenly"
  >
  <ng-container *ngIf="!isLoading; else loader">
    <div *ngFor="let video of videos; let i = index">
      <app-video-card [video]="video" [isLoading]="isLoading"></app-video-card>
    </div>
  </ng-container>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>